<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hww.house.mapper.SubwayStationMapper">

    <resultMap id="subWayStationMap" type="com.hww.house.entity.SubwayStation">
        <result column="id" property="id"></result>
        <result column="subway_id" property="subwayId"></result>
        <result column="name" property="name"></result>
    </resultMap>

    <select id="findAllStationBySubway" resultMap="subWayStationMap">
        select id, subway_id, name
        from subway_station
        where subway_id = #{subwayId};
    </select>

    <select id="getSubwayStation" resultMap="subWayStationMap">
        select id, subway_id, name
        from subway_station
        where id = #{id};
    </select>

</mapper>